@import url(global.css);

/* Header */

header {
    width: calc(100% - var(--space-between-window));
    height: 30px;
    margin: 0 auto;
    margin-top: 81px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bg-header {
    width: 1334px;
    aspect-ratio: 1/1;
    z-index: -1;

    position: absolute;
    left: 45%;
    top: -419px;
}

/* Hero */

#hero {
    width: calc(100% - var(--space-between-window));
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text{ 
    width: 48.64%;
}

.hero-text h1 {
    margin-bottom: 24px;
}

.hero-text p {
    margin-bottom: 32px;
}

.hero-text button {
    box-shadow: 0 25px 25px -10px rgba(63, 91, 194, 0.2472);
}

.hero-img {
    width:42.79%;
}

.hero-img img {
    width: 100%;
    margin-bottom: -40px;
}

/* Pricing */
#pricing {
    width: calc(100% - var(--space-between-window));
    height: 508px;
    margin: 0 auto;
    margin-top: 184px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.7%;
}

.card-price {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    background-color: #fff;
    box-shadow: 0 50px 50px -25px rgba(75, 92, 154, 0.2472);
    padding: 40px 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.card-price h2 {
    margin-bottom: 7.87%;
}

.card-price button {
    display: block;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.price {
    color: var(--font-heading-color);
    margin-bottom: 8px;
    font-weight: bold;
}

.bill-info {
    color: var(--font-heading-color);
    margin-bottom: 11%;
}

.plan-description {
    list-style-type: none;
}

.plan-description li {
    font-size: 16px;
    margin-bottom: 16px;
}

#highlight {
    background-image: url("../assets/home/bg-pattern-pricing.svg");
    background-color: var(--btn1-color-idle);
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

#highlight *:not(button) {
    color: #fff;
}

/* Footer */
footer {
    position: relative;
}

.bg-footer {
    width: 100%;
    height: 603px;
    background-color: #25293A;
    margin-top: -254px;
    position: relative;
    overflow: hidden;
    z-index: -1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-footer img {
    position: relative;
    right: 400px;
    top: 100px;
}

.footer-info {
    width: calc(100% - var(--space-between-window));
    height: 176px;
    
    position: absolute;
    bottom: 91px;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Tablet */

@media only screen and (max-width:900px){
    :root{
        --space-between-window: 10%;
    }

    /* Headers */
    h1{
        font-size: 40px;
        line-height: 48px;
    }

    /* Body */
    .body1{
        font-size: 16px;
        line-height: 26px;
    }

    /* Header */
    .bg-header {
        width: 666px;
        aspect-ratio: 1/1;
        z-index: -1;
    
        position: absolute;
        left: 45%;
        top: -164px;
    }

    /* Hero */
    .hero-text{ 
        width: 50.07%;
    }

    .hero-text p {
        margin-bottom: 24px;
    }
    
    .hero-img {
        width:40.78%;
    }

    /* Pricing */
    #pricing {
        height: 996px;
        margin-top: 140px;
        
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
    
    .card-price {
        padding: 48px;
        text-align: left;
        position: relative;
        z-index: 1;
    }

    .card-price h2 {
        margin-bottom: 16px;
    }

    .card-price button {
        position: static;
        transform: none;
    }
    
    .price {
        margin-bottom: 4px;
    }
    
    .bill-info {
        margin-bottom: 24px;
    }
    
    .plan-description {
        position: absolute;
        top: 92px;
        right: 68px;
    }

    #highlight {
        background-position: 150% 50%;
    }  
    
    /* Footer */
    .bg-footer {
        height: 986px;
        margin-top: -498px;
    }
    
    .bg-footer img {
        width: 1454px;
        aspect-ratio: 1/1;
        right: 0%;
        top: 25%;
    }

    .footer-info {
        width: calc(100% - 41.93%);
        height: 288px;
        
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 48px;
    
    }

    .count-down h2 {
        text-align: center;
        margin-bottom: 8px;
        
    }
}

/* Mobile */

@media only screen and (max-width: 550px) {
    
    /* Header */

    header {
        margin-top: 46px;
        justify-content: center;
    }

    .bg-header {
        width: 458px;
        aspect-ratio: 1/1;
        z-index: -1;
    
        position: absolute;
        left: 0%;
        transform: translateX(-10%);
        top: -20%;
    }

    /* Hero */

    #hero {
        margin-top: 80px;
        flex-direction: column-reverse;
        row-gap: 64px;
    }

    .hero-text{ 
        width: 100%;
        text-align: center;
    }

    .hero-text p {
        margin-bottom: 24px;
    }

    .hero-img {
        width: 52.79%;
    }

    /* Pricing */

    #pricing {
        
        height: 1588px;
        margin: 0 auto;
        margin-top: 100px;
        
    }

    .card-price {
        text-align: center;
    }

    .card-price h2 {
        margin-bottom: 40px;
    }

    .card-price button {
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);
    }

    .bill-info {
        margin-bottom: 56px;
    }

    .plan-description {
        position: static;
    }


    #highlight {
        background-position: 50% 100%;
    }


    /* Footer */
    .footer-info {
        height: 254px;
    }
    .bg-footer {
        height: 1248px;
        margin-top: -794px;
    }

    .bg-footer img {
        top: 100px;
    }

    .cards-count-down {
        gap: 13px;
    }

    .card-count-down {
        width: 72px;
        height: 92px;
    }

    .number {
        font-size: 32px;
        margin-bottom: -4px;
    }

    .time {
        font-size: 12px;
    }

}