@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --font-heading-color: #333950;
    --font-paragraph-color: #747B95;
    --btn1-color-idle: #5175ff;
    --btn1-color-hover: #829cff;
    --btn2-color-idle: rgba(81, 117, 255, 0.1526);
    --btn3-color-idle: #fff;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
}

/* Buttons */
.btn {
    width: 171px;
    height: 56px;
    
    border: none;
    border-radius: 28px;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
}

.btn1 {
    color: white;
    background-color: var(--btn1-color-idle);
}

.btn2 {
    color: var(--btn1-color-idle);
    background-color: var(--btn2-color-idle);
}

.btn3 {
    color: var(--btn1-color-idle);
    background-color: var(--btn3-color-idle);
}

/* Headings */
h1, h2, h3 {
    color: var(--font-heading-color);
    font-weight: bold;
}

h1, .price {
    font-size: 56px;
    line-height: 64px;
}

h2 {
    font-size: 20px;
    line-height: 28px;
}

h3 {
    font-size: 16px;
    line-height: 48px;
}

/* Paragraphs */
p, li {
    color: var(--font-paragraph-color);
    line-height: 28px;
}

.body1 {
    font-size: 18px;
}
.body2 {
    font-size: 16px;
}



/* Header */

header {
    width: calc(100% - 23%);
    height: 30px;
    margin: 0 auto;
    margin-top: 81px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bg-header {
    width: 1334px;
    aspect-ratio: 1/1;
    z-index: -1;

    position: absolute;
    left: 45%;
    top: -419px;
}

/* Hero */

#hero {
    width: calc(100% - 23%);
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text{ 
    width: 48.64%;
}

.hero-text h1 {
    margin-bottom: 24px;
}

.hero-text p {
    margin-bottom: 32px;
}

.hero-text button {
    box-shadow: 0 25px 25px -10px rgba(63, 91, 194, 0.2472);
}

.hero-img {
    width:42.79%;
}

.hero-img img {
    width: 100%;
    margin-bottom: -40px;
}

/* Pricing */
#pricing {
    width: calc(100% - 23%);
    height: 508px;
    margin: 0 auto;
    margin-top: 184px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.card-price {
    width: 31.5%;
    height: 100%;
    border-radius: 13px;
    background-color: #fff;
    box-shadow: 0 50px 50px -25px rgba(75, 92, 154, 0.2472);
    padding: 40px 10px;
    text-align: center;
    position: relative;
}

.card-price h2 {
    margin-bottom: 7.87%;
}
.card-price button {
    display: block;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.price {
    color: var(--font-heading-color);
    margin-bottom: 8px;
    font-weight: bold;
}

.bill-info {
    color: var(--font-heading-color);
    margin-bottom: 11%;
}

.plan-description {
    list-style-type: none;
}

.plan-description li {
    font-size: 16px;
    margin-bottom: 16px;
}

#highlight {
    background-image: url("../assets/home/bg-pattern-pricing.svg");
    background-color: var(--btn1-color-idle);
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

#highlight *:not(button) {
    color: #fff;
}